/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --main-clr: #1992d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  grid-template: 200px 1fr / 1fr 5fr;
  grid-auto-rows: minmax(225px, 1fr);
  grid-template-areas:
    'sidebar header'
    'sidebar main';
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--main-clr);
  grid-area: sidebar;
  gap: 50px;
  font-size: 1.2rem;
  min-height: 100vh;
  padding: 10px 10px 10px 20px;
}

.sidebar a img {
  width: 30px;
}

.sidebar a img {
  width: 30px;
}

.sidebar__logo {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  gap: 15px;
}

.sidebar__logo img {
  width: 60px;
}

.sidebar__list {
  display: grid;
  gap: 15px;
}

.sidebar__item {
  display: grid;
  justify-content: start;
}

.sidebar__link {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  column-gap: 15px;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  grid-area: header;
  box-shadow: 0px 0px 16px 1px gray;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin-bottom: 20px;
}

.header__search {
  display: flex;
  gap: 15px;
  flex: 2;
}

.header__search img {
  width: 30px;
}

.header__input {
  width: 100%;
  border: none;
  background-color: #e3e3e3;
  border-radius: 10px;
  height: 30px;
  padding: 0 10px;
}

.header__input:focus {
  outline: none;
}

.user-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 30px;
}

.header__notif {
  width: 30px;
  margin-left: auto;
}

.user-info__avatar {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.user-info__name {
  font-size: 1.2rem;
  font-weight: 900;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.profile {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    'avatar greeting'
    'avatar name';
  align-items: center;
  column-gap: 20px;
}

.profile div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile img {
  width: 80px;
  border-radius: 50%;
  grid-area: avatar;
}

.user-info__greeting {
  grid-area: greeting;
  font-size: 0.8rem;
  font-weight: 900;
}

.user-info__user-name {
  font-size: 1.2rem;
  font-weight: 900;
  grid-area: name;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-clr);
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 900;
}

/*MAIN*/

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'projects announcements'
    'projects announcements'
    'projects trending'
    'projects trending';
  grid-area: main;
  background-color: #e2e8f0;
  padding: 30px 40px;
  gap: 30px;
}

.projects {
  grid-area: projects;
}

.projects__title {
  margin-bottom: 30px;
}

.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.project-card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background-color: #fff;
  border-radius: 15px;
  border-left: 10px solid #f0b429;
  height: 250px;
}

.project-card__btns {
  align-self: flex-end;
}

.card-bts {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.card-bts button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.card-bts__fav {
  background: url('../img/star-plus-outline.svg') center no-repeat;
}

.card-bts__watch {
  background: url('../img/eye-plus-outline.svg') center no-repeat;
}

.card-bts__share {
  background: url('../img/share-variant.svg') center no-repeat;
}

.announcements {
  grid-area: announcements;
}

.announcements__title {
  margin-bottom: 30px;
}

.announcements__list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  gap: 15px;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.announcement:not(:last-child) {
  border-bottom: 1px solid #d0d4da;
  padding-bottom: 30px;
}

.announcement__text {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trending {
  grid-area: trending;
}

.trending__title {
  margin-bottom: 30px;
}

.trending__list {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-traiding {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-traiding__avatar {
  width: 60px;
  border-radius: 50%;
}

.item-traiding__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-traiding__social {
  font-weight: 900;
}

